.board {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

button {
	cursor: pointer;
	font-size: 2rem;
	padding: .5rem 2rem;
}

.free-pops {
	display: flex;
	justify-content: space-evenly;
	align-self: stretch;
	padding: 10px 0;
	margin: 10px 0;
	border: 1px solid gray;
	border-radius: 10px;
	min-height: 86px;
}
