.requirement {

}

.requirement-fullfilled {
	color: green;
}

.requirement-failed {
	color: red;
}

.slot > .requirements {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-self: stretch;
}

.slot > .requirements p {
	font-size: .8rem;
	margin: 0
}
